<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.springframework.org/schema/osgi-compendium"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd		
		http://www.springframework.org/schema/osgi-compendium http://www.springframework.org/schema/osgi-compendium/spring-osgi-compendium.xsd">

	<!-- osgix:managed-service-factory -->
	<osgix:managed-service-factory id="msf" 
			factory-pid="org.springframework.osgi.iandt.cm.managedservicefactory.ManagedServiceFactoryTest" 
			auto-export="all-classes">
		<osgix:registration-listener ref="listener"/>
		<bean class="java.lang.Object"/>
	</osgix:managed-service-factory>

	<bean id="queueTracker" class="org.springframework.osgi.iandt.cm.managedservicefactory.Listener"/>

	<osgix:managed-service-factory id="data-msf" 
			factory-pid="org.springframework.osgi.iandt.cm.managedservicefactory.ManagedServiceFactoryTest" 
			update-strategy="bean-managed"
			update-method="refresh">
		<osgix:interfaces>
			<beans:value>java.util.Collection</beans:value>
			<beans:value>java.util.Queue</beans:value>
		</osgix:interfaces>
		<osgix:registration-listener ref="queueTracker"/>
		<bean class="com.xyz.ResizableQueue">
			<property name="size" value="100"/>
			<property name="concurrency" value="10"/>
			<property name="fair" value="false"/>
		</bean>
	</osgix:managed-service-factory>
	
</beans>